!upload_target/.gitkeep
!uploaded/.gitkeep
*.mp4
*.jpg
*.png
*.mov
rclone.conf
.env
*.bak
/storj_container_app/upload_target - コピー/*.heic
/storj_uploader_backend_api_container_app/__pycache__/*.pyc
/storj_local_structure/source_files - コピー/*.MOV
/flutter
storj_local_structure