!upload_target/.gitkeep
!uploaded/.gitkeep
*.mp4
*.jpg
*.png
*.mov
rclone.conf
.env
*.bak
*.heic
**/__pycache__/*.pyc
*.MOV
/flutter
storj_local_structure
venv
/AZURE_ENV_SECRET.md
.azure
/storj_uploader_frontend_container_app/.azure
/storj_uploader_frontend_container_app/.azure_cfg
/storj_container_app/rclone - コピー.conf
*.log
