services:
  storj-uploader-api:
    build: .
    ports:
      - "8010:8010"
    environment:
      - UPLOAD_TARGET_DIR=../storj_container_app/upload_target
      - TEMP_DIR=./temp
      - MAX_FILE_SIZE=100000000
      - STORJ_BUCKET_NAME=prd-storj-uploader
      - STORJ_REMOTE_NAME=storj
    volumes:
      - ./temp:/app/temp
      - ./thumbnail_cache:/app/thumbnail_cache
      - ../storj_container_app:/app/storj_container_app
      - .:/app
    restart: unless-stopped
    networks:
      - storj-network

networks:
  storj-network:
    driver: bridge